
/* html selector enables bg-image to fill viewport */
html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/bg-dandelion.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
}

#title {
  font-size: 300%;
  font-weight: bolder;
  /* background-color: rgb(167, 195, 255); */
  text-align: center;
  margin: 2%;
  background: linear-gradient(to bottom, #9df0ff, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  width: 8%;
  top: 6;
  left: 8;
  border-radius: 50%;
  display: inline; 
}

/* #search-input {
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  font-size: 30px;
  position: absolute;
  margin-top: 10px;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  text-align: center;
  width: 30%;
} */

/* #search-btn {
  display: block;
  font-size: 25px;
  background-color: rgb(111, 185, 255);
  color: rgb(0, 0, 121);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 2px solid rgb(0, 0, 121);
  width: 11%;
} */

#search-btn:hover {
  background-color: rgb(148, 203, 255);
  color: rgb(26, 26, 177);
  box-shadow: 0 0 5px rgba(59, 59, 59, 0.3);
}

#history {
  font-size: 25px;
  margin: 30% 0 0 10%;
}

/* color classes for displayPollution data */
.green {
    color: green;
}

.yellow {
    color: rgb(198, 179, 8);
}

.orange {
    color: orange;
}

.red {
    color: rgb(182, 4, 4);
}

.purple {
    color: purple;
}

.maroon {
    color: maroon;
}

.brown {
    color: rgb(111, 58, 58);
}

/* Sarah, please modify the styling of this block to meet the requirements specified by Tailwind CSS if needed */

/* The "display: flex or grid" property cannot be used for a modal-box as it will override the close() method, causing the modal-box to remain visible even when the user clicks the "dismiss" button. */
#modal-box {
    display: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4%;
    border-radius: 10px;
    border: solid 4px rgb(182, 12, 182);
    z-index: 2;
    text-align: center;
  }
  
  #modal-emoji {
    width: 30%;
    margin: auto;
    margin-bottom: 5%;
  }
  
  #modal-box h3 {
    /* this font size formula makes the text fluid. If you will resize your browser, 
    you will see that font size is resizing accordingly to the size of the browser. */
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); 
    line-height: 130%;
  }
  
  #modal-close-btn {
    padding: 2% 5%;
    border: solid 1px black;
    background-color: rgb(199, 111, 199);
    color: white;
    border-radius: 10px;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); 
    margin-top: 5%;
  }

  #modal-close-btn:hover {
    background-color: rgb(230, 133, 230);
    color: black;
  }

  /* end of modal-box styling */

  .history-btn {
    display: block;
    color: rgb(69, 69, 255);
    margin: 5px 10px 0 65px;
    border-bottom: solid 1px gray;
    text-align: center;
  }
  .history-btn::after {
    content: "📍";
  }
  .hide {
    display: none;
  }