
/* html selector enables bg-image to fill viewport */
html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../images/bg-dandelion.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: absolute;
}

.hero {
  max-height: 95vh;
}

/* color classes for displayPollution data */
.green {
  color: green;
}

.yellow {
  color: rgb(198, 179, 8);
}

.orange {
  color: orange;
}

.red {
  color: rgb(182, 4, 4);
}

.purple {
  color: purple;
}

.maroon {
  color: maroon;
}

.brown {
  color: rgb(111, 58, 58);
}

.upper-left {
  max-height: 100%;
  top: 0;
  left: 0;
}

.giphy {
  max-height: 30vh;
  max-width: 30vw;
  margin: 10px auto;
  border-radius: 10px;
}

#pollution-container {
  text-align: center;
}

/* The "display: flex or grid" property cannot be used for a modal-box as it will override the close() method, causing the modal-box to remain visible even when the user clicks the "dismiss" button. */
#modal-box {
    position: fixed;
    width: 50%;
    padding: 4%;
    border-radius: 10px;
    border: solid 4px rgb(182, 12, 182);
    z-index: 2;
    text-align: center;
  }
  
  #modal-emoji {
    width: 30%;
    margin: auto;
    margin-bottom: 5%;
  }
  
  #modal-box h3 {
    /* this font size formula makes the text fluid. If you will resize your browser, 
    you will see that font size is resizing accordingly to the size of the browser. */
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); 
    line-height: 130%;
  }
  
  #modal-close-btn {
    padding: 2% 5%;
    border: solid 1px black;
    background-color: rgb(199, 111, 199);
    color: white;
    border-radius: 10px;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300))); 
    margin-top: 5%;
  }

  #modal-close-btn:hover {
    background-color: rgb(230, 133, 230);
    color: black;
  }

  /* end of modal-box styling */

  .location-btn {
    display: block;
    color: rgb(69, 69, 255);
    text-align: center;
  }

  .location-btn::after {
    content: "📍";
  }
  
  .hide {
    display: none !important;
  }

  .location-btn:hover {
    color: rgb(0, 0, 255);
  }